.form {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formList {
  justify-content: center;
  align-items: center;
  height: auto;
  display: grid;
  gap: 10px;
  padding: 10px;
}

.error {
  margin: 0;
  padding: 0;
  color: red;
  font-size: small;
}

label {
  font-size: 20px;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
  height: 25px;
  width: 250px;
}
